<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}{% endblock %}
		</title>
		
		<!-- meta information -->
		{% block meta %}{% endblock %}

		<!-- Styles and CSS files -->
		{% block css %}{% endblock %}

		<!-- Front end javascript -->
		{% block frontendjs %}{% endblock %}

	</head>
	<body>
		<!-- body section -->
		{% block body %}{% endblock %}
		
		<!-- Back end JavaScript -->
		{% block backendjs %}{% endblock %}
		
	</body>
</html>