<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		{% block meta %}
		{% endblock %}
		{% block frontendjs %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
		{% endblock %}
		{% block backendjs %}
		{% endblock %}
	</body>
</html>