{% extends 'base.html.twig' %}
{% block title %}
	PHP Silex skeleton
{% endblock %}
{% block meta %}
	<meta charset="utf-8">
	<meta name="author" value="captaincode0">
	<meta name="robots" value="noindex,nofollow">
{% endblock %}
{% block css %}
	<link rel="shortcut icon" href="{{asset('img/skeleton.png')}}">
	<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{asset('web-libs/app/css/index.css')}}" media="all">
{% endblock %}
{% block frontendjs %}
{% endblock %}
{% block body %}
	<nav>
		<ul class="top-menu">
			<a href="https://facebook.com/diegodesantiagoruiz" target="_blank">
				<li>Facebook</li>
			</a>
			<a href="https://twitter.com/developerdiego0" target="_blank">
				<li>Twitter</li>
			</a>
			<a href="https://github.com/captaincode0" target="_blank">
				<li>Github</li>
			</a>
		</ul>
	</nav>
	<div class="skeleton-desc">
		<h1>Silex Skeleton</h1>
		<img class="skull" src="{{asset('img/skeleton.png')}}">
		<a href="https://github.com/captaincode0/silex-skeleton" target="_blank"><img class="git" src="{{asset('img/git.png')}}"></a>
	</div>
{% endblock %}
{% block backendjs %}
{% endblock %}